services:
  time-a:
    image: ghcr.io/pendulum-project/ntpd-rs:sha-3b4aaf6
    expose: [4460, "1231/udp"]
    ports: ["127.0.0.1:1231:1231/udp", "[::1]:1231:1231/udp"]
    stop_grace_period: 500ms
    environment:
      TZ: "Europe/Amsterdam"
      RUST_LOG: DEBUG
    volumes:
      - "./nts-pool-ke/testdata/a.ntpd-rs.toml:/etc/ntpd-rs/ntp.toml:ro"
      - "./nts-pool-ke/testdata/time-a.key:/var/lib/ntpd-rs/tls/time-a.key:ro"
      - "./nts-pool-ke/testdata/time-a.fullchain.pem:/var/lib/ntpd-rs/tls/time-a.fullchain.pem:ro"
      - "./nts-pool-ke/testdata/testca.pem:/var/lib/ntpd-rs/tls/testca.pem:ro"

  time-b:
    image: ghcr.io/pendulum-project/ntpd-rs:sha-3b4aaf6
    expose: [4460, "1232/udp"]
    ports: ["127.0.0.1:1232:1232/udp", "[::1]:1232:1232/udp"]
    stop_grace_period: 500ms
    environment:
      TZ: "Europe/Amsterdam"
      RUST_LOG: DEBUG
    volumes:
      - "./nts-pool-ke/testdata/b.ntpd-rs.toml:/etc/ntpd-rs/ntp.toml:ro"
      - "./nts-pool-ke/testdata/time-b.key:/var/lib/ntpd-rs/tls/time-b.key:ro"
      - "./nts-pool-ke/testdata/time-b.fullchain.pem:/var/lib/ntpd-rs/tls/time-b.fullchain.pem:ro"
      - "./nts-pool-ke/testdata/testca.pem:/var/lib/ntpd-rs/tls/testca.pem:ro"

  ke:
    image: ghcr.io/tweedegolf/rust-dev:stable
    depends_on: [time-a, time-b]
    stop_grace_period: 500ms
    ports:
      - "127.0.0.1:4460:4460"
      - "[::1]:4460:4460"
    user: "${USER_ID:?USER_ID not set}:${GROUP_ID:?GROUP_ID not set}"
    environment:
      RUST_LOG: debug
      TZ: "Europe/Amsterdam"
      CARGO_HOME: "/app/.cargo"
      CARGO_TARGET_DIR: "/app/target-docker"
      SQLX_OFFLINE: "${DOCKER_SQLX_OFFLINE:-0}"
    volumes:
      - ".:/app"
    working_dir: /app/nts-pool-ke
    ulimits:
      core: 0
    command: ["watchexec", "--shell=none", "-o", "restart", "--", "cargo", "run", "-p", "nts-pool-ke", "--", "--config", "/app/nts-pool-ke/unsafe.pool.toml"]

  psql:
    image: ghcr.io/tweedegolf/postgres:17
    environment:
      POSTGRES_USER: nts-pool
      POSTGRES_DB: nts-pool
      TZ: "Europe/Amsterdam"
      POSTGRES_HOST_AUTH_METHOD: trust
    ports: ["127.0.0.1:5432:5432"]

  mailcrab:
    image: marlonb/mailcrab:latest
    ports:
      - "127.0.0.1:1080:1080"

  management:
    image: ghcr.io/tweedegolf/rust-dev:stable
    depends_on: [ke, psql, mailcrab]
    stop_grace_period: 500ms
    ports:
      - "127.0.0.1:3000:3000"
      - "127.0.0.1:3001:3001"
    user: "${USER_ID:?USER_ID not set}:${GROUP_ID:?GROUP_ID not set}"
    environment:
      RUST_LOG: debug
      TZ: "Europe/Amsterdam"
      CARGO_HOME: "/app/.cargo"
      CARGO_TARGET_DIR: "/app/target-docker"
      NTSPOOL_DATABASE_URL: "postgres://nts-pool@psql:5432/nts-pool"
      DATABASE_URL: "postgres://nts-pool@psql:5432/nts-pool"
      NTSPOOL_CONFIG_UPDATER_SECRET: "a-secret"
      NTSPOOL_DATABASE_RUN_MIGRATIONS: "false"
      NTSPOOL_ASSETS_DIR: "/app/nts-pool-management/assets"
      NTSPOOL_GEOLOCATION_DB: "/app/nts-pool-ke/testdata/GeoLite2-Country-Test.mmdb"
      NTSPOOL_JWT_SECRET: "a-string-secret-at-least-256-bits-long"
      NTSPOOL_COOKIE_SECRET: "another-string-secret-at-least-256-bits-long"
      NTSPOOL_BASE_SHARED_SECRET: "even-more-secrets-this-time-with-no-min-length"
      NTSPOOL_BASE_SECRET_INDEX: "0"
      NTSPOOL_SMTP_URL: "smtp://mailcrab:1025"
      NTSPOOL_MAIL_FROM_ADDRESS: "NTS Pool <noreply@example.com>"
      NTSPOOL_BASE_URL: "http://localhost:3000"
      NTSPOOL_POOLKE_NAME: "localhost"
      NTSPOOL_MONITOR_RESULT_BATCHSIZE: "4"
      NTSPOOL_MONITOR_RESULT_BATCHTIME: "60"
      NTSPOOL_MONITOR_UPDATE_INTERVAL: "60"
      NTSPOOL_MONITOR_PROBE_INTERVAL: "4"
      NTSPOOL_MONITOR_NTS_TIMEOUT: "1000"
      NTSPOOL_MONITOR_NTP_TIMEOUT: "1000"
      NTSPOOL_MAX_TIMESOURCE_WEIGHT: "10"
      SQLX_OFFLINE: "${DOCKER_SQLX_OFFLINE:-0}"
    volumes:
      - ".:/app"
    working_dir: /app/nts-pool-management
    ulimits:
      core: 0
    command: ["watchexec", "--shell=none", "-o", "restart", "--", "cargo", "run", "-p", "nts-pool-management", "--features", "livereload,dev-database", "--"]
