{% extends "../layout.html.j2" %}

{% block header %}<h1>Monitor key</h1>{% endblock %}

{% block content %}
  <aside class="success">
    Monitor key created succesfully. <strong>The key will only be showed once.</strong>
  </aside>
  <section>
    <dl>
      <dd>Monitor name:</dd>
      <dt>{{ name }}</dt>
      <dd>Key:</dd>
     <dt><code class="key">{{ key }}</code></dt>
    </dl>
  </section>
  <a class="btn" href="/admin/monitors">Back</a>
{% endblock %}
