
{% extends "../layout.html.j2" %}

{% block nav_users %}aria-current="page"{% endblock %}

{% block header %}<h1>Users</h1>{% endblock %}

{% block content %}
  <table>
    <thead>
      <th>
        <a href="{{ pagination.sort_link(UserSort::Email) }}">
          Email
          {{ pagination.dir_icon(UserSort::Email) }}
        </a>
      </th>
      <th>
        <a href="{{ pagination.sort_link(UserSort::Role) }}">
          Role
          {{ pagination.dir_icon(UserSort::Role) }}
        </a>
      </th>
      <th>
        <a href="{{ pagination.sort_link(UserSort::LastLoginAt) }}">
          Last login
          {{ pagination.dir_icon(UserSort::LastLoginAt) }}
        </a>
        </th>
      <th>
        <a href="{{ pagination.sort_link(UserSort::DisabledSince) }}">
          Disabled since
          {{ pagination.dir_icon(UserSort::DisabledSince) }}
        </a>
      </th>
      <td><!-- Actions --></td>
    </thead>
    <tbody>
      {%- for user in users %}
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.role }} {% if !user.is_activated() %}(unconfirmed){%endif%}</td>
          <td>{{ user.last_login_at.format("%Y-%m-%d %H:%M") }}</td>
          <td>
            {% if let Some(disabled_since) = user.disabled_since %}
              {{ disabled_since.format("%Y-%m-%d %H:%M") }}
            {% endif %}
          </td>
          <td class="actions">
            {% if !(app.user|is_me(user)) %}
              {% if user.is_disabled() %}
                <form action="/admin/users/{{ user.id }}/unblock" method="POST">
                  <button class="btn-sm btn-alt" type="submit">Unblock</button>
                </form>
              {% else %}
                <form action="/admin/users/{{ user.id }}/block" method="POST">
                  <button class="btn-sm" type="submit">Block</button>
                </form>
                {% if app.parent_user.is_none() %}
                  <form action="/admin/users/{{ user.id }}/login-as" method="POST">
                    <button class="btn-sm btn-alt" type="submit">Login as</button>
                  </form>
                {% endif %}
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Pagination" class="pagination">
  {% if pagination.has_prev %}
    <a href="{{ pagination.prev() }}" rel="prev" class="btn">&lt;</a>
  {% else %}
    <button role="button" disabled aria-disabled="true">&lt;</button>
  {% endif %}
  {% for link in pagination.links %}
    {% if let Some(number) = link.number %}
      {% if link.current %}
        <button role="button" disabled aria-current="page">{{ number }}</button>
      {% else %}
        <a href="{{ pagination.goto(number) }}" class="btn">{{ number }}</a>
      {% endif %}
    {% else %}
      <span aria-hidden="true">...</span>
    {% endif %}
  {% endfor %}
  {% if pagination.has_next %}
    <a href="{{ pagination.next() }}" rel="next" class="btn">&gt;</a>
  {% else %}
    <button role="button" disabled aria-disabled="true">&gt;</button>
  {% endif %}
</nav>
  
{% endblock %}
