{% extends "layout.html.j2" %}

{% block header %}<h1>Something went wrong</h1>{% endblock %}

{% block content %}
<section>
  <article>{{ message }}</article>
</section>
<section>
  <a href="/">Back to the home page</a>
</section>
{% endblock %}
