{% extends "layout.html.j2" %}

{% block nav_home %}aria-current="page"{% endblock %}

{% block header %}<h1>NTS Pool</h1>{% endblock %}

{% block content %}
  <section class="contained">
    <p>Welcome to the NTS Pool Management System.</p>

    <p>The <a href="/use">usage instructions</a> provide instructions on how to use the NTS pool to synchronize the time on your computer.</p>

    <p>If you run an NTS server, you can also <a href="/join">join the pool</a> and help us provide NTS to more people.</p>

    {% if !(app.user|is_logged_in) %}
      <p role="alert">
        You are not logged in. To manage your servers, please <a href="/login">log in</a> to access the pool management system. You can also <a href="/register">register</a> for a new account.
      </p>
    {% endif %}
  </section>
{% endblock %}
