{% extends "layout.html.j2" %}

{% block nav_home %}aria-current="page"{% endblock %}

{% block header %}<h1>NTS Pool</h1>{% endblock %}

{% block content %}

<p>Welcome to the NTS Pool Management System.</p>
{% endblock %}
