<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NTS Pool</title>
    <link rel="stylesheet" href="assets/variables.css" />
    <link rel="stylesheet" href="assets/main.css" />
    <link rel="stylesheet" href="assets/components.css" />
    <link rel="stylesheet" href="assets/typography.css" />
    <link rel="stylesheet" href="assets/reset.css" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="appcontainer">
      <nav>
        <menu>
        {% if session.is_some() %}
          <li>
            <a {% block nav_dns_zones %}{% endblock %} href="/dns-zones">DNS zones</a>
          </li>
          <li>
            <a {% block nav_time_sources %}{% endblock %} href="/time-sources">Time sources</a>
          </li>
        {% endif %}
        </menu>
        <div>
          {% if let Some(s) = session %}
              <span class="username">{{ s.email }}</span> <a href="/logout">Logout</a>
            {% else %}
              <a href="/login">Login</a>
            {% endif %}
          </div>
        </nav>
      <header>
        {% block header %}{% endblock %}
      </header>
      <main>
        {% block content %}{% endblock %}
      </main>
      <footer>
        {% block footer %}
        <section>NTS Pool</section>
        <section><a href="https://github.com/pendulum-project/">GitHub</a></section>
        <section>Active time source servers: 5392</section>
        {% endblock %}
      </footer>
    </div>
  </body>
</html>
