{% extends "layout.html.j2" %}

{% block header %}<h1>NTS Pool Terms and Conditions</h1>{% endblock %}

{% block content %}
<p>These terms and conditions govern the relationship between the user of the experimental NTS Pool time service (the User), and Stichting Trifecta Tech Foundation (the Foundation), for the use of the experimental NTS Pool time service (the Service).</p>
<p>1) By using the service offered by the Foundation, the end user agrees that they have read, understood and agree to be bound by these terms of service.</p>
<p>2) The user acknowledges that the service is experimental, and can change in any way at any time, with or without prior notice. The user further acknowledges that they understand that the experimental nature of the service implies no guarantees whatsoever of correct function of the service or parts thereof.</p>
<p>3) These terms and agreements will be in effect for the entire duration of the use of the service by the end user.
<p>4) When using the service to synchronize time on a device, the user agrees to limit to the largest extent possible load on the service resulting from their use. In particular, the user agrees to limit NTS key exchange requests to the minimum amount needed for reasonable operations, which shall not exceed more than once an hour when avaraged over a 72 hour period.
<p>5) The user acknowledges that the Foundation can end the service at any time, with or without prior notice.
<p>6) The user acknowledges that the Foundation can, at its discretion, limit access to the service for any reason, and that such limitations of access may effect the user even if they are not the primary target of such limitations.
<p>7) When adding a time source to the service, the user will guarantee that they are allowed act as the legal representative for the owner of the time server added in this regard. The user accepts that by adding a time source, this time source will receive traffic from other users of the service, and that this traffic will not disappear immediately upon removal of the time source from the service. THE USER SHALL NOT HOLD THE FOUNDATION RESPONSIBLE FOR DAMAGES CAUSED, RESULTING FROM ADDING THE SOURCE TO THE SERVICE.
<p>8) The foundation may, at its sole discretion, modify or replace these terms at any time. User's continued use of the service following a change those these terms and conditions shall constitute acceptance of such changes.
<p>9) THE USER AGREES TO USE THE SERVICE FOR PERSONAL USE ONLY, AND TO NOT PRECONFIGURE THE SERVICE IN EQUIPMENT OR SOFTWARE PROVIDED TO THIRD PARTIES, UNLESS OTHERWISE AGREED IN WRITING. THE USER AGREES TO BE LIABLE FOR ANY COSTS INCURRED IN RUNNING THE SERVICE ARISING FROM BREAKING OF THIS CLAUSE, INCLUDING ANY COSTS ARRISING FROM PROCEEDINGS REQUIRED TO ENFORCE THIS CLAUSE TO THE EXTENT PERMITTED BY LAW.
<p>10) THE USER AGREES NOT TO USE THE SERVICE FOR SYNCHRONIZATION OF EQUIPMENT WHERE AN INCORRECT TIME COULD LEAD TO BODILY INJURY, FINANCIAL LOSS OR OTHER DAMAGES. THE SERVICE PROVIDED BY THE FOUNDATION IS PROVIDED "AS IS" AND "AS AVAILABLE", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, TO THE MAXIMAL EXTENT PERMITTED BY LAW. THE USER AGREES THAT ANY USE OF THE SERVICE IS SOLELY AT THE USER'S RISK.
<p>11) The service collects limited personal data (email addresses and IP addresses) for the operation of the service. These data shall be used solely for the operation of the pool and analysis of its functioning. These data shall not be shared with third parties except as needed for operation of the service or as required by law.
<p>12) Should any clause in this agreement be found unenforcable or invalid, the clause will be limited or eliminated to the minimum extent necessary for the remainder of these terms and conditions to remain in effect.
<p>13) These terms and conditions shall be governed by and construed in accordance with the laws of The Netherlands.
{% endblock %}
