Hi {{ user.email }},

An account was created at the NTS pool management system. To activate your account you will need to verify your email address.
To do this, log in to your NTS pool management system account and enter the activation code from below.

Your activation token is: {{ activation_token }}

Your activation token expires after some time. Please activate your account as soon as possible.
