Hi {{ user.email }},

Someone requested a password reset for your account. To reset your password, please visit the URL below:

{{ reset_url }}

Your password reset expires after some time. Please reset your password as soon as possible. If you did not request this, please ignore this email.
