{% extends "../layout.html.j2" %}

{% block nav_dashboard %}aria-current="page"{% endblock %}

{% block header %}<h1>Dashboard</h1>{% endblock %}

{% block content %}
<button>Submit</button>
<a class="btn" href="#">Submit</a>
<input type="button" value="Submit">
<input type="submit" value="Submit">
<input type="text" value="Submit">
{% endblock %}
