{% extends "../layout.html.j2" %}
{% block nav_time_sources %}aria-current="page"{% endblock %}

{% block header %}<h1>Time Sources</h1>{% endblock %}

{% block content %}
<section>
  <h2>Add a time source server</h2>
  <form action="/management/time-sources" method="POST">
    <input name="hostname" type="text" placeholder="Hostname or IP address" />
    <input name="port" type="text" placeholder="Port (optional)" />
    <button type="submit">Add</button>
  </form>
</section>
<section>
  <h2>Time source servers</h2>
  {%- for ts in time_sources %}
    <article class="server-list">
      <dl>
        <dd>Hostname</dd>
        <dt>{{ ts.hostname }}{% if let Some(p) = ts.port %}<span class="port">:{{ p }}</span>{% endif %}</dt>
      </dl>
      <form action="/management/time-sources/{{ ts.id }}/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
    </article>
  {% endfor %}
</section>
{% endblock %}
