{% extends "../layout.html.j2" %}
{% block nav_time_sources %}aria-current="page"{% endblock %}

{% block header %}<h1>Time Sources</h1>{% endblock %}

{% block content %}
<section class="form">
  <h2>Add a time source server</h2>
  <form action="/management/time-sources" method="POST">
    <div class="hostname-port">
    <fieldset class="hostname">
      <label for="hostname">Hostname or IP address</label>
      <input name="hostname" type="text" />
    </fieldset>
    <fieldset class="port">
      <label for="port">Port (optional)</label>
      <input name="port" type="text" />
    </fieldset>
    </div>
    <div>
      <button type="submit">Add</button>
    </div>
  </form>
</section>
<section>
  <h2>Time source servers</h2>
  <div class="time-sources-list">
  {% if time_sources.is_empty() %}
    <article>No time sources servers added</article>
  {% endif %}
  {%- for ts in time_sources %}
    <article class="card">
      <h3>{{ ts.hostname }}{% if let Some(p) = ts.port %}<span class="port">:{{ p }}</span>{% endif %}</h3>
      <form action="/management/time-sources/{{ ts.id }}/update" method="POST">
        <input type="hidden" />
        <dl>
          <dd>IPv4 score</dd>
          <dt>{{ ts.ipv4_score | fmt("{:.1}") }}</dt>
          <dd>IPv6 score</dd>
          <dt>{{ ts.ipv6_score | fmt("{:.1}") }}</dt>
          <dd>Weight</dd>
          <dt><input type="number" name="weight" value="{{ ts.weight }}" /></dt>
        </dl>
        <button type="submit" class="btn-sm">Save</button>
      </form>
      <form action="/management/time-sources/{{ ts.id }}/delete" method="POST">
        <details class="confirmation-btn">
          <summary></summary>
          <div>
            <p>Are you sure?</p>
            <button type="submit">Yes, delete</button>
          </div>
        </details>
      </form>
    </article>
  {% endfor %}
  </div>
</section>
{% endblock %}
