{% extends "../layout.html.j2" %}

{% block header %}<h1>{{ ts.hostname }} Details</h1>{% endblock %}

{% block content %}

<section>
<h2>Scores</h2>
<p>Current scores (servers are only used for traffic if their score for that type is higher than 10):
<div class="multivalue-box"><div class="multivalue-element">Ipv4: {{ ts.ipv4_score | fmt("{:.1}") }}</div><div class="multivalue-element">Ipv6: {{ ts.ipv6_score | fmt("{:.1}") }}</div></div></p>
<p>Current per-monitor scores:
<table class="autowidth">
  <tr>
    <th>Monitor</th>
    <th>Ipv4 Score</th>
    <th>Ipv6 Score</th>
  </tr>
  {% for row in scores %}
  <tr>
    <td>{{ row.monitor }}</td>
    <td>{{ row.ipv4 | fmt("{:.1}") }}</td>
    <td>{{ row.ipv6 | fmt("{:.1}") }}</td>
  </tr>
  {% endfor %}
</table></p>
</section>

<section>
<h2>Logs</h2>
{% if let Some(cur_monitor) = cur_monitor %}
      <form method="get">
      Monitor: <select name="monitor">
      {% for mon in monitors %}
        <option value="{{mon}}" {% if &cur_monitor.to_string() == mon %} selected {% endif %}>{{ mon }}</option>
      {% endfor %}
      </select>
      <select name="protocol">
        <option value="Ipv4" {% if cur_protocol == IpVersion::Ipv4 %} selected {% endif %}>IPv4</option>
        <option value="Ipv6" {% if cur_protocol == IpVersion::Ipv6 %} selected {% endif %}>IPv6</option>
      </select>
      <button type="submit">apply</button>
      </form>
      <div class="grid-table">
        <div class="grid-table-header">Received at</div>
        <div class="grid-table-header">Monitor</div>
        <div class="grid-table-header">Protocol</div>
        <div class="grid-table-header">New score</div>
        {% for row in log %}
          <div title="{{ row.received_at }}">{{ row.received_at.format("%Y-%m-%d %H:%M") }}</div>
          <div>{{ row.monitor }}</div>
          <div>{{ row.protocol }}</div>
          <div title="{{ row.score }}">{{ row.score | fmt("{:.1}") }}</div>
          <div class="sample">{{ row.sample }}</div>
        {% endfor %}
      </div>
  {% else %}
    No monitoring logs available.
  {% endif %}
</section>

{% endblock %}
