{% extends "../layout.html.j2" %}

{% block header %}<h1>Time Source Authentication</h1>{% endblock %}

{% block content %}
  {% if let Some(hostname) = hostname %}
    <aside class="success">
      The timesource {{ hostname }} has been created.
    </aside>
  {% else %}
    A new authentication key has been generated.
  {% endif %}
  <section>
    The authentication key the pool will use to authenticate itself:
    <code class="key">{{ auth_key }}</code>
  </section>
  {% if let Some(hostname) = hostname %}
    <a class="btn" href="/management/time-sources">Back</a>
  {% endif %}

{% endblock %}
