body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-body);
  color: var(--text-color-body);
}

.appcontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: auto minmax(50ch, 1024px) auto;
  grid-template-rows: var(--space-lg) 7rem 1fr var(--space-lg);
  grid-template-areas:
    "nav    nav    nav"
    "....   header ...."
    "left   main   right"
    "footer footer footer";
}

.left {
  background-color: var(--background);
  grid-area: left;
}

.right {
  background-color: var(--background);
  grid-area: right;
}

header {
  grid-area: header;
  background-color: var(--background-alt);
  align-content: center;
}

main {
  grid-area: main;
  background-color: var(--background);
  padding-top: var(--space-md);
}

footer {
  grid-area: footer;
  display: flex;
  flex: 0 0 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-md) 0 var(--space-md);
  background-color: var(--background-alt);
}

main section {
  margin-bottom: var(--space-lg);
}

nav:not(.pagination) {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-md);
  border-bottom: 1px solid var(--grey);

  menu {
    height: 100%;
    display: flex;
    padding: 0;

    li a {
      height: 100%;
      display: flex;
      align-items: center;
      gap: var(--space-sm);
      text-decoration: none;
      color: inherit;
      padding: 0 var(--space-sm);
      transition: border-bottom-color 150ms ease-in-out, transform 150ms ease;
      border-bottom: 4px solid transparent;

      img {
        height: 2rem;
      }
    }

    li a:hover {
      border-bottom: 4px solid var(--grey);
    }

    li:first-child a {
      padding-left: 0;
    }

    a[aria-current="page"] {
      border-bottom: 4px solid var(--primary) !important;
    }
  }

  li {
    list-style: none;
  }

  .username {
    font-weight: var(--bold);
  }
}

section.form form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  max-width: 33rem;

  input[type="checkbox"] {
    margin-right: var(--space-sm);
  }

  fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding: 0;
    border: 0;

    label {
      color: black;
    }
  }
}

details.toast {
  position: absolute;
  display: none;
  border-radius: var(--border-radius);
  top: 5rem;
  right: var(--space-sm);

  summary::marker {
    content: "";
  }
}

details.toast[open] {
  display: block;
  animation: toast-in 220ms ease-out forwards,
             toast-hold 3s linear 220ms forwards,
             toast-out 400ms ease-in 3.22s forwards;
}

details.toast > summary {
  cursor: pointer;
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translatey(-15px);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes toast-hold {
  from {}
  to {}
}

@keyframes toast-out {
  from {
    opacity: 1;
    transform: translatey(0);
  }
  to {
    opacity: 0;
    transform: translatey(-15px);
  }
}

.hostname-port {
  display: flex;
  gap: var(--space-sm);
}

.hostname {
  flex: 1 0 auto;
}

.port {
  flex: 0 1 auto;

  input {
    max-width: 8rem;
  }
}

.time-sources-list {
  display: flex;
  gap: var(--space-md);
  flex-wrap: wrap;
}
