body {
  font-family: sans-serif;
  font-size: var(--font-size-body);
  color: var(--text-color-body);
}

.appcontainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

header {
  background-color: var(--background-alt);
  padding: var(--space-md) var(--space-md);
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  flex: 0;
}

main {
  background-color: var(--background);
  padding: var(--space-md) var(--space-xl) var(--space-md) var(--space-lg);
  flex: auto;
}

main section {
  margin-bottom: var(--space-lg);
}

nav {
  background-color: var(--secondary);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0;
  padding: 0 var(--space-md);

  menu {
    display: flex;
    padding: 0;
    box-sizing: content-box;

    li a {
      display: flex;
      align-items: center;
      height: 2rem;
      gap: var(--space-sm);
      text-decoration: none;
      color: inherit;
      padding: var(--space-sm);
      transition: border-bottom-color 150ms ease-in-out, transform 150ms ease;
      border-bottom: 4px solid var(--secondary);

      img {
        height: 2rem;
      }
    }

    li:first-child a {
        padding-left: 0;
    }

    a[aria-current="page"] {
      border-bottom: 4px solid var(--primary);
    }
  }

  li {
    list-style: none;
  }

  .username {
    font-weight: var(--bold);
  }
}

footer {
  display: flex;
  flex: 0 0 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-md) 0 var(--space-md);
  background-color: var(--background-alt);
}

section.form form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  max-width: 33rem;

  input[type="checkbox"] {
    margin-right: var(--space-sm);
  }

  fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding: 0;
    border: 0;

    label {
      font-weight: bold;
    }
  }
}

details.toast {
  position: absolute;
  display: none;
  border-radius: var(--border-radius);
  top: 5rem;
  right: var(--space-sm);

  summary::marker {
    content: "";
  }
}

details.toast[open] {
  display: block;
  animation: toast-in 220ms ease-out forwards,
             toast-hold 3s linear 220ms forwards,
             toast-out 400ms ease-in 3.22s forwards;
}

details.toast > summary {
  cursor: pointer;
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translatey(-15px);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes toast-hold {
  from {}
  to {}
}

@keyframes toast-out {
  from {
    opacity: 1;
    transform: translatey(0);
  }
  to {
    opacity: 0;
    transform: translatey(-15px);
  }
}

.hostname-port {
  display: flex;
  gap: var(--space-sm);
}

.hostname {
  flex: 1 0 auto;
}

.port {
  flex: 0 1 auto;

  input {
    max-width: 8rem;
  }
}

.time-sources-list {
  display: flex;
  gap: var(--space-md);
  flex-wrap: wrap;
}
