:root {
  /* font */
  --font-size-body: 1rem;
  --bold: 600;

  /* colors */
  --primary: orange;
  --secondary: #202020;
  --grey: #cccccc;
  --background: #f4f4f4;
  --background-alt: #ffffff;
  --white: #ffffff;
  --black: #000000;
  --error: #ce4242;
  --success: #74ce42;
  --info: #99b6d5;
  --link: #0a57f0;

  /* spacing */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2.5rem;
  --space-lg: 5rem;
  --space-xl: 10rem;

  --border-radius: 0.75rem;
  --border-width: 2px;
}
