:root {
  /* font */
  --font-size-body: 1rem;
  --font-size-big: 1.1rem;
  --bold: bold;

  /* colors */
  --primary: #fdc153;
  --secondary: #202020;
  --grey: #cccccc;
  --background: #f4f4f4;
  --background-alt: #ffffff;
  --white: #ffffff;
  --black: #333333;
  --error: #ce4242;
  --success: #74ce42;
  --info: #99b6d5;
  --link: #0a57f0;
  --text-color-body: #333;

  --text-color-body: var(--black);
  
  --muted: var(--grey);
  
  /* spacing */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2.5rem;
  --space-lg: 5rem;
  --space-xl: 10rem;

  --border-radius: 0.75rem;
  --border-width: 2px;

  --alert-blackness: 33%;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf');
  font-style: regular;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Italic.ttf');
  font-style: italic;
}
