{% extends "../layout.html.j2" %}

{% block header %}<h1>Forgot Password</h1>{% endblock %}

{% block content %}
  <section class="form">
    <form class="login" method="post">
    {% if requested %}
      <aside class="success">
        <p>If an account exists, an email has been sent with instructions on how to reset your password.</p>
      </aside>
    {% endif %}
    {% if failed %}
      <aside class="error">
        <p>Could not reset your password, please try again.</p>
      </aside>
    {% endif %}
      <fieldset>
        <label for="email">E-mail</label>
        <input id="email" name="email" type="email" autocomplete="email username" required />
      </fieldset>
      <button type="submit">Request Password Reset</button>
    </form>
  </section>
{% endblock %}
