{% extends "../layout.html.j2" %}

{% block header %}<h1>Forgot Password</h1>{% endblock %}

{% block content %}
  {% if requested %}
    <section class="centered">
      <p>If an account exists, an email has been sent with instructions on how to reset your password.</p>
    </section>
  {% endif %}
  {% if failed %}
    <section class="centered">
      <p>Could not reset your password, please try again.</p>
    </section>
  {% endif %}
  <section class="login">
    <form class="login" method="post">
      <label for="email">E-mail</label>
      <input id="email" name="email" type="text" placeholder="E-mail" autocomplete="email username" required />
      <button type="submit">Request Password Reset</button>
    </form>
  </section>
{% endblock %}
