{% extends "../layout.html.j2" %}

{% block header %}<h1>Login</h1>{% endblock %}

{% block content %}
  {% if login_error %}
    <section>
      <p>Invalid username or password, please try again.</p>
    </section>
  {% endif %}

  <section>
    <form class="login" method="post">
      <label for="email">E-mail</label>
      <input id="email" name="email" type="text" placeholder="E-mail" autocomplete="email username" required />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" placeholder="Password" autocomplete="current-password" required />
      <section>
        <a href="/login/forgot">Forgot Password?</a>
      </section>
      <button type="submit">Login</button>
    </form>
  </section>

  <section>
    <a href="/register">Register</a>
  </section>
{% endblock %}
