{% extends "../layout.html.j2" %}

{% block header %}<h1>Login</h1>{% endblock %}

{% block content %}
  <section class="login">
    {% if login_error %}
      <aside class="error">
        <p>Invalid username or password, please try again.</p>
      </aside>
    {% endif %}
    <form method="post">
      <fieldset>
        <label for="email">E-mail</label>
        <input id="email" name="email" type="text" autocomplete="email username" required />
      </fieldset>
      <fieldset>
        <label for="password">Password</label>
      <input id="password" name="password" type="password" autocomplete="current-password" required />
      </fieldset>
      <a href="/login/forgot">Forgot Password?</a>
      <button type="submit">Login</button>
    </form>
  </section>

  <section>
    <a href="/register">Register</a>
  </section>
{% endblock %}
