{% extends "../layout.html.j2" %}

{% block header %}<h1>Password Reset</h1>{% endblock %}

{% block content %}
  {% if password_error %}
    <aside class="error">
      <p>Could not change your password. Make sure your passwords match and contain at least 8 characters.</p>
    </aside>
  {% endif %}
  <section class="form">
    <form class="login" method="post">
      <fieldset>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" autocomplete="new-password" required />
        <p>The password needs to be at least 8 characters</p>
      </fieldset>
      <fieldset>
        <label for="confirm-password">Confirm Password</label>
        <input id="confirm-password" name="confirm_password" type="password" autocomplete="new-password" required />
      </fieldset>
      <button type="submit">Reset Password</button>
    </form>
  </section>
{% endblock %}
