{% extends "../layout.html.j2" %}

{% block header %}<h1>Password Reset</h1>{% endblock %}

{% block content %}
  {% if password_error %}
    <aside class="error">
      <p>Whoops, looks like the passwords didn't match, please try again. Make sure your password contains at least 8 characters.</p>
    </aside>
  {% endif %}
  <section class="login">
    <form class="login" method="post">
      <label for="password">New Password</label>
      <input id="password" name="password" type="password" placeholder="New Password" autocomplete="new-password" required />
      <label for="confirm-password">Confirm Password</label>
      <input id="confirm-password" name="confirm_password" type="password" placeholder="Confirm Password" autocomplete="new-password" required />
      <button type="submit">Reset Password</button>
    </form>
  </section>
{% endblock %}
