{% extends "../layout.html.j2" %}

{% block header %}<h1>Register</h1>{% endblock %}

{% block content %}
  <section class="register">
  {% if !fields_with_errors.is_empty() %}
    <aside class="error">
      <p>There were some errors in the register form, please fix the invalid fields.</p>
    </aside>
  {% endif %}
    <form method="post">
      <fieldset>
        <label for="email">E-mail</label>
        <input id="email" name="email" type="text" autocomplete="email username" value="{{ data_email.as_deref().unwrap_or_default() }}"required {% if fields_with_errors.contains(&"email") %}class="error"{% endif %} />
      </fieldset>
      <fieldset>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" autocomplete="new-password" required {% if fields_with_errors.contains(&"password") %}class="error"{% endif %} />
      </fieldset>
      <fieldset>
        <label for="confirm-password">Confirm Password</label>
        <input id="confirm-password" name="confirm_password" type="password" autocomplete="new-password" required {% if fields_with_errors.contains(&"confirm_password") %}class="error"{% endif %} />
      </fieldset>
      <fieldset>
        <label for="accept-terms">
          <input id="accept-terms" name="accept_terms" type="checkbox" value="true" required {% if fields_with_errors.contains(&"accept_terms") %}class="error"{% endif %} />Agree to Terms</label>

      </fieldset>
      <button type="submit">Register</button>
    </form>
  </section>
{% endblock %}
