{% extends "../layout.html.j2" %}

{% block content %}
  <h1>Submit registration</h1>
  <section class="form">
    Thank you for your registration. Please click the button below to send an activation code to the submitted email address.
  </section>
  <form class="login" method="post">
    <button type="submit">Send activation code</button>
  </form>
{% endblock %}
